
<H1>Welcome to the south</H1>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p.bookcdn.com/data/Photos/r1600x558/10772/1077267/1077267040/Hotel-Le-Sud-photos-Exterior-H-tel-Le-Sud.JPEG);">
  <div class="container">
    <h1>Chambre Sud <strong>brings you</strong> to <strong>the best south france</strong>!</h1>
    <p>Price reduit, with full of sunshine</p>
    <a class="btn btn-flat" <%= link_to "See all rooms avaible", rooms_path %></a>
  </div>
</div>
