<h1>For the reservation</h1>
please contact us at
<br>
06 66 66 66 66
<br>
findasolution@exam.pass
<br>
<h1>Thanks for your time!</h1>
<br>
Have a nice day ! &#128512&#128512&#128512

<a class="btn btn-more" <%= link_to "Chambre Sud", root_path  %></a>
