<h1>Rooms avaible </h1>

  <% @rooms.each do |r| %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?productivity,hotel)">
        For <%= r.capacity %>persons
        <br>
        <%= r.price_per_night %>€ / night
        <br>
        <a class="btn btn-more" <%= link_to "More details", room_path(r) %></a>
      </div>
    </div>
  <% end %>
